version: "3.9"

services:
  db-init:
    build: .
    command: uv run python -m src.scripts.initialise_basic_data_in_db
    environment:
      - PYTHONPATH=/app
    restart: "no"

  api:
    build: .
    depends_on:
      db-init:
        condition: service_completed_successfully
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    command: uv run fastapi run src/api/main.py --host 0.0.0.0 --port 8000